input[type="text"]{
    width: 97%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid;
}

#box {
    width: 270px;
    padding: 10px;
    background: #ccc;
    margin: auto;
    overflow: auto;
}